<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>    
    <div id="app">
        <label>
            firstname:
            <input type="text" v-model="first" @keyup="click">
        </label>
        <label>
            lastname:
            <input type="text" v-model="last" @keyup="click">
        </label>
        <label>
            fullname:
            <input type="text" v-model="full">
        </label>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                first: '',
                last: '',
                full: ''
            },
            methods: {
                click() {
                    this.full = this.first + this.last
                }
            }
        })
    </script>
</body>

</html>