<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>    
    <div id="app">
        <label>
            firstname:
            <input type="text" v-model="first">
        </label>
        <label>
            lastname:
            <input type="text" v-model="last">
        </label>
        <label>
            fullname:
            <input type="text" v-model="full">
        </label>

        <p>{{ full }}</p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                first: '',
                last: '',
            },
            computed:{
                'full':function(){
                    console.log('ok')
                    return this.first + '-' + this.last
                }
            }
        })
    </script>
</body>

</html>